<h2>Login</h2>

<form action="/login" method="post">

    <div class="form-control">
        <label for="title">Email:</label>
        <input type="text" name="email" placeholder="nick@gmail.com">
    </div>

    <div class="form-control">
        <label for="title">Senha:</label>
        <input type="password" name="password" placeholder="*******">
    </div>

    <input type="submit" value="Entrar">
    <a style="text-decoration: none; color: black; margin-left: 47%;" href="/register">Não tenho uma conta</a>

</form>