<h2>Cadastre-se</h2>

<form action="/register" method="post">

    <div class="form-control">
        <label for="title">Nome:</label>
        <input type="text" name="name" placeholder="Quem é você ?">
    </div>

    <div class="form-control">
        <label for="title">Email:</label>
        <input type="text" name="email" placeholder="Digite seu email">
    </div>

    <div class="form-control">
        <label for="title">Senha:</label>
        <input type="password" name="password" placeholder="********">
    </div>

    <input type="submit" value="Cadastrar">
    <a style="text-decoration: none; color: black; margin-left: 42%;" href="/">Já possuo uma conta</a>

</form>