<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar Gato</h1>

    <form action="/gatos/salvar" method="post">
        <span>Nome</span> <br>
        <input name="nome" placeholder="digite o nome do seu gato"> <br>

        <span>Idade</span> <br>
        <input name="idade" placeholder="digite a idade do seu gato"> <br>

        <button type="submit">Cadastrar </button>
    </form>
</body>
</html>