<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h2>Alpes Tasks</h2>
    </header>

    <div class="container">
        {{#if messages.message}}
        <div class="flashMessage">
            {{messages.message}}
        </div>
        {{/if}}
        {{{body}}}
    </div>
</body>

</html>