<h1>Cadastrar Candidato</h1>
<form  class="form_cadastro" action="/users/create" method="post">
    <label for="nome">nome</label> <br> 
    <input style="" id="nome" name="nome" type="text"> <br>

    <label for="email">email</label> <br> 
    <input id="email" name="email" type="text"> <br>

    <label for="senha">senha</label> <br> 
    <input id="senha" name="senha" type="text"> <br>

    <label for="ocupacao">ocupacao</label> <br> 
    <input id="ocupacao" name="ocupacao" type="text"> <br>

    <input style="width: 10px; float: left;" name="alertas" type="checkbox" checked>
    <span>Deseja receber alertas de vagas ?</span> <br>
    <button type="submit">Cadastrar</button>
</form>
